<!DOCTYPE html>
<html>
  <meta charset="utf-8" />

  <!--[if lte IE 6]>
    <script type="text/javascript">
      window.location.href = 'oldbrowser.html'
    </script>
  <![endif]-->

  <head>
    <link rel="icon" href="favicon.ico" />
    <title>酒店管理系统</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/style/bootstrap.min.css" />
    <script
      type="text/javascript"
      src="http://localhost:8080/js/jquery-3.3.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="http://localhost:8080/js/jquery.backstretch.min.js"
    ></script>
    <script
      type="text/javascript"
      src="http://localhost:8080/js/bootstrap.min.js"
    ></script>
    <script
      type="text/javascript"
      src="http://localhost:8080/js/login.js"
    ></script>
    <script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div
      id="wholeblock"
      class="container well"
      style="
        margin: 0 auto;
        margin-top: 1.8%;
        width: 600px;
        background-color: rgba(255, 255, 255, 0.8);
      "
    >
      <div id="banner" style="opacity: 1">
        <h1 style="text-align: center"><b>24小时</b>&nbsp;酒店管理系统</h1>
      </div>
      <br />
      <div style="text-align: center; opacity: 1">
        <h2>· 员 工 登 陆 ·</h2>
        <br />
        <form id="loginform" action="foo/foo_loginProcess.php" method="post">
          <input
            class="input-lg"
            placeholder="账          号"
            name="empId"
            id="empId"
            style="text-align: center"
          />
          <br />
          <br />
          <input
            class="input-lg"
            placeholder="密          码"
            name="empPassword"
            id="empPassword"
            style="text-align: center"
            type="password"
            ;
          />
          <br />
          <br />
          <input type="hidden" name="captcha" value="false" id="captcha" />
          <div
            id="slideBar"
            style="text-align: center; display: inline-block"
          ></div>
          <br /><br />
          <button
            type="button"
            class="btn btn-primary"
            style="font-size: 18px"
            onclick="login();"
          >
            登 陆
          </button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button
            type="button"
            class="btn btn-default"
            style="font-size: 18px"
            onclick="clearLogin();"
          >
            清 空
          </button>
          <br />
          <br />
          <a href="/changePwdPage">修改密码</a>
        </form>
      </div>
    </div>
    <!-- extra functions -->
    <br />
    <br />
    <div
      id="extrafun"
      class="well center-block"
      style="color: black; text-align: center; width: 500px; opacity: 0.9"
    >
      <a
        href=""
        style="color: inherit"
        data-toggle="modal"
        data-target="#introModal"
      >
        帮助与关于
      </a>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="introModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="introModal"
    >
      <div
        class="modal-dialog"
        role="document"
        style="
          top: 45%;
          transform: translateX(-50%) translateY(-50%);
          left: 50%;
          position: absolute;
        "
      >
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <h4
              class="modal-title"
              id="introModalLabel"
              style="font-weight: bold"
            >
              关于24小时酒店
            </h4>
          </div>
          <div class="modal-body">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;24小时酒店是东南大学的传统项目与品牌活动，由09017227卓旭和09017224高钰铭、09017228王志华、09017225沈汉唐、09017226曾铖承办。自24小时酒店开业以来，已逾十余个春秋，面向所有学院，累计入住人数达数万人。
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              关闭
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
