.container {
  width: 70%;
  height: 500px;
  background-color: #f0f0f0;
}
.container .title {
  margin: 15px auto;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.container #orderId {
  width: 300px;
}
.body {
  margin: 0 auto;
}
