.container {
  width: 800px;
  padding: 20px;
  border-radius: 5px;
  background-color: #f0f0f0;
}
.container .title {
  margin: 0 auto 10px auto;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.container .basicInfo {
  margin-top: 10px;
}
.container .basicInfo input {
  width: 45%;
}
.container .basicInfo .form-inline {
  margin-top: 15px;
}
.container .content {
  margin-top: 20px;
}
.container .content .commentTitle {
  font-size: 20px;
  font-weight: bold;
}
.container .content textarea {
  resize: none;
}
.container .operation {
  text-align: right;
}
.body {
  margin: 0 auto;
}
