<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>客房管理</title>
        <link
          rel="stylesheet"
          href="http://localhost:8080/style/bootstrap.min.css"
        />
        <link rel="stylesheet" href="http://localhost:8080/style/style.css" />
        <script type="text/javascript" src="http://localhost:8080/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="http://localhost:8080/js/bootstrap.min.js"></script>
        <script type="text/javascript">
          var pageSize = 3;    //每页显示的记录条数
          var curPage=0;        //当前页
          var lastPage;        //最后页
          var direct=0;        //方向
          var len;            //总行数
          var page;            //总页数
          var begin;
          var end;
          
              
          $(document).ready(function display(){   
              len =$("#mytable tr").length - 1;    // 求这个表的总行数，剔除第一行介绍
              page=len % pageSize==0 ? len/pageSize : Math.floor(len/pageSize)+1;//根据记录条数，计算页数
              // alert("page==="+page);
              curPage=1;    // 设置当前为第一页
              displayPage(1);//显示第一页
              
              document.getElementById("btn0").innerHTML="当前 " + curPage + "/" + page + " 页    每页 ";    // 显示当前多少页
              document.getElementById("sjzl").innerHTML="已登记客房数 " + len + "";        // 显示数据量
              document.getElementById("pageSize").value = pageSize;
              
              
              
              $("#btn1").click(function firstPage(){    // 首页
                  curPage=1;
                  direct = 0;
                  displayPage();
              });
              $("#btn2").click(function frontPage(){    // 上一页
                  direct=-1;
                  displayPage();
              });
              $("#btn3").click(function nextPage(){    // 下一页
                  direct=1;
                  displayPage();
              });
              $("#btn4").click(function lastPage(){    // 尾页
                  curPage=page;
                  direct = 0;
                  displayPage();
              });
              $("#btn5").click(function changePage(){    // 转页
                  curPage=document.getElementById("changePage").value * 1;
                  if (!/^[1-9]\d*$/.test(curPage)) {
                      alert("请输入正整数");
                      return ;
                  }
                  if (curPage > page) {
                      alert("超出数据页面");
                      return ;
                  }
                  direct = 0;
                  displayPage();
              });
              
              
              $("#pageSizeSet").click(function setPageSize(){    // 设置每页显示多少条记录
                  pageSize = document.getElementById("pageSize").value;    //每页显示的记录条数
                  if (!/^[1-9]\d*$/.test(pageSize)) {
                      alert("请输入正整数");
                      return ;
                  }
                  len =$("#mytable tr").length - 1;
                  page=len % pageSize==0 ? len/pageSize : Math.floor(len/pageSize)+1;//根据记录条数，计算页数
                  curPage=1;        //当前页
                   direct=0;        //方向
                   firstPage();
              });
          });

          function displayPage(){
              if(curPage <=1 && direct==-1){
                  direct=0;
                  alert("已经是第一页了");
                  return;
              } else if (curPage >= page && direct==1) {
                  direct=0;
                  alert("已经是最后一页了");
                  return ;
              }
              
              lastPage = curPage;
             
              // 修复当len=1时，curPage计算得0的bug
              if (len > pageSize) {
                  curPage = ((curPage + direct + len) % len);
              } else {
                  curPage = 1;
              }
        
              
              document.getElementById("btn0").innerHTML="当前 " + curPage + "/" + page + " 页    每页 ";        // 显示当前多少页
              
              begin=(curPage-1)*pageSize + 1;// 起始记录号
              end = begin + 1*pageSize - 1;    // 末尾记录号
           
              
              if(end > len ) end=len;
              $("#mytable tr").hide();    // 首先，设置这行为隐藏
              $("#mytable tr").each(function(i){    // 然后，通过条件判断决定本行是否恢复显示
                  if((i>=begin && i<=end) || i==0 )//显示begin<=x<=end的记录
                      $(this).show();
              });

           }
        </script>
       
      </head>
  <body>
    <div class="container">
      <p class="title">客房管理系统</p>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newRoomModal">新增客房</button>
      
      <br><br>
      <label for="orderId">表格搜索：<input type="text" id="orderId" />
      </label>
      <button type="button" class="btn btn-primary" >搜索</button>
      <button type="button" class="btn btn-primary">刷新表格</button>
      <br><br><br>

      <a id="btn0"></a>
      <input id="pageSize" type="text" size="1" maxlength="2" value="getDefaultValue()"/><a> 条 <a href="#" id="pageSizeSet">设置</a>&nbsp;
      <a id="sjzl"></a>&nbsp;
      <a  href="#" id="btn1">首页</a>
      <a  href="#" id="btn2">上一页</a>
      <a  href="#" id="btn3">下一页</a>
      <a  href="#" id="btn4">尾页</a>&nbsp;
      <a>转到&nbsp;</a>
      <input id="changePage" type="text" size="1" maxlength="4"/>
      <a>页&nbsp;</a>
      <a  href="#" id="btn5">跳转</a>
                
      <table id="mytable" align="center" class="table table-bordered" 
            data-pagination="true"
            data-side-pagination="client"
            data-page-size="3">
        <tr class="header">
          <th>客房号<th>客房类型</th><th>定价</th>
        </tr>
        <tr>
          <td>wdnmd</td><td>wdnmd</td><td>wdnmd</td>
        </tr>      
        <tr>
          <td>wdnmd</td><td>wdnmd</td><td>wdnmd</td>
        </tr>
        <tr>
          <td>wdnmd</td><td>wdnmd</td><td>wdnmd</td>
        </tr>
        <tr>
          <td>wdnmd</td><td>wdnmd</td><td>wdnmd</td>
        </tr>      
        <tr>
          <td>wdnmd</td><td>wdnmd</td><td>wdnmd</td>
        </tr>
      </table>


    </div>

    



    <!-- modal  -->
    <div class="modal fade" id="newRoomModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
              <h4 class="modal-title">新增客房</h4>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="control-label">房号：</label>
                  <input type="text" class="form-control" id="roomNoInput">
                </div>
                <div class="form-group">
                  <label for="message-text" class="control-label">房间类型：</label>
                  <select class="form-control" id="roomTypeSelect"></select>
                </div>
                <div class="form-group">
                  <label for="message-text" class="control-label">定价：</label>
                  <input type="text" class="form-control" id="roomNoInput">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
              <button type="button" class="btn btn-primary" onclick="processNewRoom()">添加</button>
            </div>
          </div>
        </div>

      </div>

    
      
    <script type="text/javascript" src="http://localhost:8080/js/MoTaiKuang.js?xasdsadasd"></script>
  </body>
</html>