<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>评论页面</title>
    <script src="../../static/js/jquery-3.3.1.min.js"></script>
    <script src="../../static/js/utils.js"></script>
    <link rel="stylesheet" href="../../static/style/bootstrap.min.css" />
    <link rel="stylesheet" href="../../static/style/listComment.css" />
  </head>
  <body>
    <div class="container">
      
  </body>
</html>
