<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="http://localhost:8080/style/bootstrap.min.css" />
    <script src="http://localhost:8080/js/jquery-3.3.1.min.js"></script>

    <title>新增预定页面</title>

</head>
<body>
<div class="container">
    <p class="title">24h酒店欢迎您预定</p>

    <div class="body">
        <div class="basicInfo">
            <label>请输入您想要预定的时间段:</label>
            <br />
            <label for="startDate">
                开始时间：
                <input type="date" id="startDate">
            </label>
            <label for="endDate">
                结束时间：
                <input type="date" id="endDate">
            </label>
            <br/>
            <br />
            <label for="roomId">房&nbsp&nbsp号</label>
            <input type="text" id="roomId">
            </select>

            <br />
            <label for="name">
                姓&nbsp;&nbsp;&nbsp;名：
                <input type="text" id="name" />
            </label>
            <br />
            <label for="phone">
                手机号码：
                <input type="text" id="phone" />
            </label>
        </div>
        <button id="submit1">提交</button>

        <br />
        <button id="submit2">管理员查看所有预定信息</button>
    </div>
</div>
<script type="text/javascript">

    $('#submit2').on('click', function () {
        window.location.href = '/reserve/preShowAll'
    })
     $('#submit1').on('click',function(){
            console.log({
                roomId:$('#roomId').val(),
                reserveName: $('#name').val(),
                startDate: $('#startDate').val(),
                endDate: $('#endDate').val(),
                reservePhone: $('#phone').val(),
            })
            $.ajax({
                url:'/reserve/add',
                method:'POST',
                data:{
                    roomId:$('#roomId').val(),
                    reserverName: $('#name').val(),
                    startDate: $('#startDate').val(),
                    endDate: $('#endDate').val(),
                    reservePhone: $('#phone').val(),
                },
                contentType:"application/x-www-form-urlencoded",
                dataType:"json",
                success:(data)=>{
                    console.log(data)
                },
                error:(error)=>{
                    console.log(error)
                },
            })
        })
</script>


</body>
</html>